@model ResetPasswordDto
<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Account Manager /</span> Change Password
</h4>
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Change Password</h5> <small class="text-muted float-end">Password</small>
    </div>
    
    <div class="card-body">
        <form asp-controller="Auth" asp-action="ChangePassword" method="post" enctype="multipart/form-data">
           
            @if (TempData["PasswordChangeError"] != null)
            {
                var message = (TempData["PasswordChangeError"] as String);

                <div class="row p-3 mb-2 bg-warning text-dark">
                    <div class="col-md-12">
                        <div>
                            @message
                        </div>
                    </div>
                </div>
            }
            @if (TempData["PasswordChanged"] != null)
            {
                var message = (TempData["PasswordChanged"] as String);

                <div class="row p-3 mb-2 bg-success text-white">
                    <div class="col-md-12">
                        <div>
                            @message
                        </div>
                    </div>
                </div>
            }
            <div class="mb-3">
                
                <label class="form-label" asp-for="CurrentPassword" for="basic-default-company">Current Password</label>
                <input type="password" asp-for="CurrentPassword" class="form-control" id="basic-default-company" placeholder="Current Password" autofocus>
                <span asp-validation-for="CurrentPassword" class="bg-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="NewPassword" for="basic-default-company">New Password</label>
                <input type="password" asp-for="NewPassword" class="form-control" id="basic-default-company" placeholder="New Password">
                <span asp-validation-for="NewPassword" class="bg-danger"></span>
            </div>
           
            <div class="mb-3">
                <label class="form-label" asp-for="ConfirmNewPassword" for="basic-default-phone">Confirm New Password</label>
                <input type="password" asp-for="ConfirmNewPassword" id="basic-default-phone" class="form-control phone-mask" placeholder="Confirm New Password">
                <span asp-validation-for="ConfirmNewPassword" class="bg-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>