@model CreateNewPasswordDto
<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Account Manager /</span> Change Password
</h4>
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Change Password</h5> <small class="text-muted float-end">Forgot My Password</small>
    </div>

    <div class="card-body">
        <form asp-controller="Auth" asp-action="CreateNewPassword" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Email" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />
            @if (TempData["ForgotPasswordError"] != null)
            {
                var message = (TempData["ForgotPasswordError"] as String);

                <div class="row p-3 mb-2 bg-warning text-dark">
                    <div class="col-md-12">
                        <div>
                            @message
                        </div>
                    </div>
                </div>
            }
            @if (TempData["CreateNewPassword"] != null)
            {
                var message = (TempData["CreateNewPassword"] as String);

                <div class="row p-3 mb-2 bg-success text-white">
                    <div class="col-md-12">
                        <div>
                            @message
                        </div>
                    </div>
                </div>
            }
            <div class="mb-3">

                <label class="form-label" asp-for="Password" for="basic-default-company">Password</label>
                <input type="password" asp-for="Password" class="form-control" id="basic-default-company" placeholder="New Password" autofocus>
                <span asp-validation-for="Password" class="bg-danger"></span>
            </div>
            <div class="mb-3">

                <label class="form-label" asp-for="ConfirmPassword" for="basic-default-company">Confirm Password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" id="basic-default-company" placeholder="Current Password" autofocus>
                <span asp-validation-for="ConfirmPassword" class="bg-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>